
/*COLORS: eyedroppered from pigeon image so as to match better. 
  light grey: #d2d2d2;
  light-mid grey: #9a9a9a;
  mid-dark grey: #7a7a7a;
  dark grey: #505050;  */

/*Entire Page styling: default background color and font.*/
wrapper {
  background-color: #d2d2d2;
  font-family: "Cutive Mono", monospace;
}


/*****************************
*****TOP NAV************
******************************/

.topNav {
  background-color: #9b9b9b;
  box-shadow: 0 2px 4px #505050;
}

/*makes the logo sit with some space around it in its column div.*/
.logoDiv {
  padding: 30px;
}

/*styles the actual pigeon image.*/
.logoImg {
  max-height: 200px;
  min-width: 100px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #505050;
}

/*adds some breathing room to the nav bar. */
.navRight {
  padding: 18px 40px 10px 10px;
}

.teamName {
  margin-left: -10px;
}

.caveat {
  font-size: 0.6em;
  text-align: right;
  margin-bottom: 15px;
  margin-top: -10px;
}


/*form group styling*/

.inputAndDeleteButtonDiv {
  position: relative;
  height: 62px;
  margin-bottom: 0;
}

.inputAndDeleteButtonDiv input {
  width: 100%;
  padding: 4px;
  line-height: 1.8em;
  border-radius: 4px;
  box-shadow: inset 1px 1px 1px #505050;
}

.inputAndDeleteButtonDiv button {
  box-shadow: 2px 2px 3px #505050;
  margin: 3px;
}

/*positioning for clearAllMessages specifically*/
.clearAllMessagesButton {
  position: absolute;
  bottom: 8px;
  right: -10px;
}

.tiny {
  font-size: 0.7em;
  border-bottom: 1px solid black;
  padding-left: 3px;
  margin-bottom: 4px;
}

/*****************************
*****OUTPUT AREA************
******************************/

/*makes the set of columns in the output div have some top and bottom space.*/
.outputAreaRow {
  background-color: #d2d2d2;
  padding-top: 290px;
  padding-bottom: 15px;
  margin-right: 0;
}

/*styles the box in which all the messages go.*/
.messageOutputDiv {
  border: 4px solid #D8D8D8;
  border-radius: 4px;
  min-height: 400px;
  background-color: white;
  box-shadow: 2px 2px 3px #9a9a9a;
  padding-top: 14px;
}

.messageCard {
  margin-bottom: 5px;
  position: relative;
  padding: 11px;
}
/*styles the text box in which each message sits.*/
.messageCard p {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #9a9a9a;
  overflow-x: scroll;
  background-color: #d2d2d2;
}


/*positions the delete and edit buttons.*/

.deleteButton {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 1px 1px 3px #9a9a9a;
}

.editButton {
  position: absolute;
  bottom: 0;
  right: 122px;
  box-shadow: 1px 1px 3px #9a9a9a;
}

/*****************************
*****MEDIA QUERY************
*for logo size only, really
******************************/

@media (max-width: 680px) {

  .teamName {
    font-size: 1.2em;
    margin-left: -5px;
  }

}

/*****************************
*****LARGE TEXT STYLING*******
*not used
******************************/

.largeText {
	font-size: 2em;
}
