
/*makes the background of the entire page a light grey.*/
body {
  background-color: #E8E8E8 ;
  font-family: "Cutive Mono", monospace;
}


.topnav {
  background-color: #B8B8B8;
  box-shadow: 0 2px 3px #989898;

}

/*makes the logo sit with some space around it in its column div.*/
.logo {
  padding: 30px;
}
/*selector for the actual pigeon image.*/
.pigeon-logo {
  max-height: 200px;
  min-width: 100px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #989898;
}

/*adds some breathing room to the right side of the nav bar. */
.navright {
  padding: 30px 40px 10px 10px;
}


/*form group styling*/

.form-group {
  position: relative;
  height: 75px;
}
.form-group input {
  width: 100%;
  padding: 4px;
  border-radius: 4px;
}


/*select all the buttons */
#clear-all-messages {
  box-shadow: 2px 2px 3px #989898;
  margin: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/*****************************
*****OUTPUT AREA************
******************************/

/*makes the set of columns in the output div have some top and bottom space.*/
.outputArea {
  padding-top: 290px;
  padding-bottom: 10px;
  margin-right: 0;
}

/*styles the box in which all the messages go.*/
.message-output {
  border: 4px solid #D8D8D8;
  border-radius: 4px;
  min-height: 400px;
  background-color: white;
  box-shadow: 2px 2px 3px #989898;
  padding-top: 14px;
}

.amessage {
  margin-bottom: 5px;
  position: relative;
  padding: 11px;
}
/*styles the text box in which each message sits.*/
.amessage p {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #989898;
  overflow-x: scroll;
}

/*these next two alternate the text box colors.*/
.amessage:nth-of-type(odd) p {
  background-color: #D8D8D8;
}

.amessage:nth-of-type(even) p {
  background-color: #E8E8E8;
}

/*positions the delete button.*/

.deleteButton {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 1px 1px 3px #989898;
}

@media (max-width: 600px) {

  .team-name {
    font-size: 1.6em;
  }

}

.all-large-text {
	font-size: 2em;
}
